examples/FlowRetriggerAndMessages.json
[{"id":"62a76192.ee4948","type":"countdown","z":"254d1c62.21960c","name":"","topic":"","payloadTimerStart":"Go!","payloadTimerStartType":"str","payloadTimerStop":"All things come to an end.","payloadTimerStopType":"str","timer":"4","resetWhileRunning":true,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":510,"y":600,"wires":[["830f158.bfb1fe8"],[]]},{"id":"32e94b29.9de5dc","type":"inject","z":"254d1c62.21960c","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":330,"y":600,"wires":[["62a76192.ee4948"]]},{"id":"830f158.bfb1fe8","type":"debug","z":"254d1c62.21960c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":720,"y":600,"wires":[]}]
