examples/FlowReload.json
[{"id":"4c11b69d.b664f","type":"countdown","z":"b154a8a.d2781d8","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"4711","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":510,"y":220,"wires":[["3d3f9257.b787c6"],[]]},{"id":"38bff43e.2b1a3c","type":"inject","z":"b154a8a.d2781d8","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":270,"y":220,"wires":[["4c11b69d.b664f"]]},{"id":"3d3f9257.b787c6","type":"debug","z":"b154a8a.d2781d8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"e45051a2.07dd7","type":"inject","z":"b154a8a.d2781d8","name":"inject '42'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"42","payloadType":"num","x":280,"y":300,"wires":[["4c11b69d.b664f"]]},{"id":"52f1a0ce.4724d8","type":"inject","z":"b154a8a.d2781d8","name":"inject '6'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"6","payloadType":"num","x":280,"y":360,"wires":[["4c11b69d.b664f"]]}]
