examples/FlowBasic.json
[{"id":"adefa2c7.627a98","type":"countdown","z":"254d1c62.21960c","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"30","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":510,"y":420,"wires":[["31283fc6.313df8"],["d6dd2f37.e8707"]]},{"id":"baf24a69.e33e98","type":"inject","z":"254d1c62.21960c","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":330,"y":420,"wires":[["adefa2c7.627a98"]]},{"id":"31283fc6.313df8","type":"debug","z":"254d1c62.21960c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":720,"y":380,"wires":[]},{"id":"d6dd2f37.e8707","type":"debug","z":"254d1c62.21960c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":720,"y":460,"wires":[]}]
