examples/FlowReload.json
[{"id":"5efb2490.3261b4","type":"countdown","z":"254d1c62.21960c","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"4711","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":510,"y":1000,"wires":[["e6861469.3abf9"],[]]},{"id":"8b48c1e2.6e8a7","type":"inject","z":"254d1c62.21960c","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":270,"y":1000,"wires":[["5efb2490.3261b4"]]},{"id":"e6861469.3abf9","type":"debug","z":"254d1c62.21960c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1000,"wires":[]},{"id":"4a12160a.20aa98","type":"inject","z":"254d1c62.21960c","name":"inject '42'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"42","payloadType":"num","x":280,"y":1080,"wires":[["5efb2490.3261b4"]]},{"id":"d1aa025a.ac8b4","type":"inject","z":"254d1c62.21960c","name":"inject '6'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"815","payloadType":"num","x":280,"y":1140,"wires":[["5efb2490.3261b4"]]}]
