examples/FlowStop.json
[{"id":"8362e911.7fe7e8","type":"countdown","z":"254d1c62.21960c","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"105","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":510,"y":760,"wires":[["73364031.b94b5"],[]]},{"id":"7d908695.a074","type":"inject","z":"254d1c62.21960c","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":290,"y":760,"wires":[["8362e911.7fe7e8"]]},{"id":"73364031.b94b5","type":"debug","z":"254d1c62.21960c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":720,"y":760,"wires":[]},{"id":"3f3f9143.6a5f36","type":"inject","z":"254d1c62.21960c","name":"stop v1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":300,"y":820,"wires":[["8362e911.7fe7e8"]]},{"id":"3499517f.9b25e6","type":"inject","z":"254d1c62.21960c","name":"stop v2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":300,"y":860,"wires":[["8362e911.7fe7e8"]]}]
